@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

nav {
  background-color: #1e2333 !important;
}
.navbar-dark .navbar-nav .nav-link {
  box-shadow: 2px 2px 4px #0c0e14, -2px -2px 4px #303852;
}
.navbar-nav .nav-link {
  padding: 0.3rem 0.7rem;
  margin: 0.5rem 1rem;
}
.navbar-nav .nav-link:hover {
  box-shadow: 2px 2px 4px #0c0e14, -2px -2px 4px #303852;
  text-decoration: none;
  transition-delay: 0.1s;
  transition-duration: 0.1s;
}
.navbar-nav .nav-link:visited {
  text-decoration: none;
}
.bg-dark {
  background-color: #1e2333 !important;
}
#Head {
  font-family: "Play", sans-serif;
}
.navbar-dark .navbar-toggler {
  border-radius: 5px;
  outline: none !important;
  background: #1e2333;
  box-shadow: 2px 2px 4px #0c0e14, -2px -2px 4px #303852;
}
